{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

    <div class="main-page-wrapper">

        <!-- ===================================================
            Loading Transition
        ==================================================== -->
        <!-- Preloader -->
        <section>
            <div id="preloader">
                <div id="ctn-preloader" class="ctn-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
								<span data-text-preloader="R" class="letters-loading">
									R
								</span>
                            <span data-text-preloader="O" class="letters-loading">
									O
								</span>
                            <span data-text-preloader="G" class="letters-loading">
									G
								</span>
                            <span data-text-preloader="A" class="letters-loading">
									A
								</span>
                            <span data-text-preloader="N" class="letters-loading">
									N
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!--
        =============================================
            Theme Main Banner One
        ==============================================
        -->
        <div id="theme-banner-one">
            <div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
                <img src="{% static 'images/shape/banner-shape1.svg' %}" alt="">
                <img src="{% static 'images/shape/banner-shape2.svg' %}" alt=""
                     class="shape-one wow fadeInDown animated"
                     data-wow-delay="1.8s">
                <img src="{% static 'images/shape/banner-shape3.svg' %}" alt="" class="shape-two wow fadeInUp animated"
                     data-wow-delay="2.7s">
            </div>
            <img src="{% static 'images/shape/oval-1.svg' %}" alt="" class="oval-one">
            <img src="{% static 'images/shape/shape-1.svg' %}" alt="" class="shape-three">
            <img src="{% static 'images/shape/shape-55.svg' %}" alt="" class="shape-four">
            <img src="{% static 'images/shape/shape-56.svg' %}" alt="" class="shape-five">
            <img src="{% static 'images/shape/shape-57.svg' %}" alt="" class="shape-six">
            <img src="{% static 'images/shape/shape-58.svg' %}" alt="" class="shape-seven">
            <img src="{% static 'images/shape/shape-59.svg' %}" alt="" class="shape-eight">
            <img src="{% static 'images/shape/shape-60.svg' %}" alt="" class="shape-nine">
            <img src="{% static 'images/shape/shape-61.svg' %}" alt="" class="shape-ten">
            <img src="{% static 'images/shape/shape-62.svg' %}" alt="" class="shape-eleven">
            <div class="container">
                <div class="main-wrapper">
                    <div class="slogan wow fadeInDown animated" data-wow-delay="0.2s"><span>70% Off</span> for first 3
                        months
                    </div>
                    <h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">Digital Agency <br>with
                        Excellence
                        <br>Services.</h1>
                    <p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">The 3 golden rules professional
                        graphic
                        designer don’t <br> want you to know about.</p>
                    <ul class="button-group lightgallery">
                        <li><a href="about-us-standard.html"
                               class="more-button solid-button-one wow fadeInRight animated"
                               data-wow-delay="1.5s">More About us <i class="fa fa-angle-left icon-right"
                                                                      aria-hidden="true"></i></a></li>

                        <li><a data-fancybox href="https://www.youtube.com/embed/aXFSJTjVjw0"
                               class="fancybox video-button-one wow fadeInLeft animated" data-wow-delay="1.5s">See live
                            demo. <i class="flaticon-play-button icon-right"></i></a></li>
                    </ul>
                </div> <!-- /.main-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /#theme-banner-one -->


        <!--
        =============================================
            What WE Do
        ==============================================
        -->
        <div class="agn-what-we-do pt-150 pb-200">
            <img src="{% static 'images/shape/shape-63.svg' %}" alt="" class="shape-one" data-aos="fade-right">
            <img src="{% static 'images/shape/shape-56.svg' %}" alt="" class="shape-two">
            <div class="container">
                <div class="theme-title-one text-center">
                    <div class="upper-title">What We Do</div>
                    <h2 class="main-title">The things motivates me is common <br>form of motivation.</h2>
                </div> <!-- /.theme-title-one -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-block">
                            <div class="icon">
                                <img src="{% static 'images/shape/shape-2.svg' %}" alt="" class="bg">
                                <img src="{% static 'images/icon/icon1.svg' %}" alt="" class="shape"
                                     data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Strategy & Research.</h5>
                            <p>Lorem ipsum dolor si amet, an dus situ sint pertinacia constituto, mir dignsius quo
                                great.</p>
                            <a href="#" class="more-button">More About Strategy & Research</a>
                        </div> <!-- /.single-block -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-block">
                            <div class="icon">
                                <img src="{% static 'images/shape/shape-2.svg' %}" alt="" class="bg">
                                <img src="{% static 'images/icon/icon2.svg' %}" alt="" class="shape"
                                     data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Design & Development.</h5>
                            <p>Lorem ipsum dolor si amet, an dus situ sint pertinacia constituto, mir dignsius quo
                                great.</p>
                            <a href="#" class="more-button">More About Design & Development</a>
                        </div> <!-- /.single-block -->
                    </div>

                    <div class="col-lg-4 co-12 d-md-none d-lg-block">
                        <div class="single-block">
                            <div class="icon">
                                <img src="{% static 'images/shape/shape-2.svg' %}" alt="" class="bg">
                                <img src="{% static 'images/icon/icon3.svg' %}" alt="" class="shape"
                                     data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Managment & Marketing.</h5>
                            <p>Lorem ipsum dolor si amet, an dus situ sint pertinacia constituto, mir dignsius quo
                                great.</p>
                            <a href="#" class="more-button">More About Managment & Marketing</a>
                        </div> <!-- /.single-block -->
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.agn-what-we-do -->


        <!--
        =============================================
            About Us
        ==============================================
        -->
        <div class="agn-about-us">
            <img src="{% static 'images/shape/shape-61.svg' %}" alt="" class="shape-one">
            <img src="{% static 'images/shape/shape-64.svg' %}" alt="" class="shape-two" data-aos="fade-right">
            <img src="{% static 'images/shape/shape-65.svg' %}" alt="" class="shape-three" data-aos="fade-left">
            <img src="{% static 'images/shape/shape-60.svg' %}" alt="" class="shape-four">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-last">
                        <div class="text-wrapper">
                            <div class="theme-title-one">
                                <div class="upper-title">About us</div>
                                <h2 class="main-title">Leading Digital Agency for Business Solution.</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>Lorem ipsum dolor sit amet, hendrerit omittantur mel, es vidit animal iracundia. Ius te
                                altera essent incorrupte. Id alien accu consetetur eam, nibh aliquam iracundia.</p>
                            <p class="quote">Lorem ipsum dolor sit amet, hendrerit omittantur mel et, est ut vidit
                                animal
                                iracundia luis.</p>
                            <div class="author"><span class="name">Rashed Kabir, </span>CEO CreativeGigs</div>
                            <img src="{% static 'images/shape/signature.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="img-box">
                            <img src="{% static 'images/home/1.jpg' %}" alt="" class="main-img">
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
            <a href="about-us-agency.html" class="learn-more theme-button-two" data-aos="fade-right">Learn More <i
                    class="fa fa-angle-left icon-left" aria-hidden="true"></i></a>
        </div> <!-- /.agn-about-us -->


        <!--
        =============================================
            Theme Counter
        ==============================================
        -->
        <div class="agn-counter-section">
            <img src="{% static 'images/shape/shape-55.svg' %}" alt="" class="shape-one">
            <img src="{% static 'images/shape/shape-59.svg' %}" alt="" class="shape-two">
            <img src="{% static 'images/shape/shape-61.svg' %}" alt="" class="shape-three">
            <div class="container">
                <div class="main-wrapper">
                    <div class="theme-title-one text-center">
                        <h2 class="main-title">We completed 1500+ Projects Yearly <br>Successfully & counting</h2>
                    </div> <!-- /.theme-title-one -->

                    <div class="counter-wrapper">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="16" data-speed="1200"
                                                             data-refresh-interval="5">0</span>k</h2>
                                    <p>Global Customer</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="500" data-speed="1200"
                                                             data-refresh-interval="5">0</span>+</h2>
                                    <p>Completed Projects</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="460" data-speed="1200"
                                                             data-refresh-interval="5">0</span>+</h2>
                                    <p>Experts Worker</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                        </div>
                    </div> <!-- /.counter-wrapper -->
                </div> <!-- /.main-wrapper -->

                <div class="bottom-banner">
                    <div class="clearfix">
                        <div class="text">
                            <h3 class="title">Have any question about us?</h3>
                            <p>Dont’t hesitate to contact us.</p>
                        </div>
                        <a href="contact-us-standard.html" class="contact solid-button-one">Contact us</a>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.agn-counter-section -->


        <!--
        =============================================
            Our Gallery
        ==============================================
        -->
        <div class="agn-our-gallery">
            <img src="{% static 'images/shape/shape-62.svg' %}" alt="" class="shape-one">
            <img src="{% static 'images/shape/shape-55.svg' %}" alt="" class="shape-two">
            <img src="{% static 'images/shape/shape-61.svg' %}" alt="" class="shape-three">
            <div class="container">
                <div class="theme-title-one">
                    <h2 class="main-title">Check some of our <br>Recent work.</h2>
                    <p class="bottom-title">Click the below button to check all of our work.</p>
                </div> <!-- /.theme-title-one -->
            </div> <!-- /.container -->
            <div class="main-wrapper">
                <a href="product-full-width.html" class="view-gallery">View Gallery</a>
                <div class="gallery-slider lightgallery">
                    <div class="item">
                        <div class="img-box">
                            <img src="{% static 'images/portfolio/1.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="{% static 'images/portfolio/1.jpg' %}" class="icon zoom fancybox"
                                   data-fancybox="images" data-caption="My caption">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="{% static 'images/portfolio/2.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="{% static 'images/portfolio/2.jpg' %}" class="icon zoom fancybox"
                                   data-fancybox="images" data-caption="My caption">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="{% static 'images/portfolio/3.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="{% static 'images/portfolio/3.jpg' %}" class="icon zoom fancybox"
                                   data-fancybox="images" data-caption="My caption">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="{% static 'images/portfolio/4.jpg' %}" alt="">
                            <div class="hover-content">
                                <a href="{% static 'images/portfolio/4.jpg' %}" class="icon zoom fancybox"
                                   data-fancybox="images" data-caption="My caption">+</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.gallery-slider -->
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.agn-our-gallery -->


        <!--
        =====================================================
            Our Pricing
        =====================================================
        -->
        <div class="agn-our-pricing pt-150 pb-200">
            <img src="{% static 'images/shape/shape-55.svg' %}" alt="" class="shape-one">
            <img src="{% static 'images/shape/shape-62.svg' %}" alt="" class="shape-two">
            <img src="{% static 'images/shape/shape-1.svg' %}" alt="" class="shape-three">
            <img src="{% static 'images/shape/shape-60.svg' %}" alt="" class="shape-four">
            <img src="{% static 'images/shape/shape-57.svg' %}" alt="" class="shape-five">
            <div class="container">
                <div class="theme-title-one text-center">
                    <div class="upper-title">Pricing Plan</div>
                    <h2 class="main-title">No Hidden Charges! Choose <br>your Plan.</h2>
                </div> <!-- /.theme-title-one -->
            </div> <!-- /.container -->

            <div class="pricing-tab-menu mt-70">
                <div class="nav-wrapper">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#month">Monthly</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#annual">Annual</a></li>
                    </ul>
                </div>
                <p>Save 30% on annual plan</p>
            </div> <!-- /.pricing-tab-menu -->

            <div class="tab-content">
                <!-- ^^^^^^^^^^^^^^^^^^^^^ Monthly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
                <div id="month" class="tab-pane fade show active">
                    <div class="table-wrapper">
                        <div class="inner-table clearfix">
                            <ul class="pr-list-text">
                                <li>Full Access Library</li>
                                <li>Multiple User</li>
                                <li>Refund</li>
                                <li>24/7 Support</li>
                            </ul> <!-- /.pr-list-text -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$2300<span>/MO</span></div>
                                    <h4 class="title">Sandwich</h4>
                                    <div class="package">Reguler</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$6000<span>/MO</span></div>
                                    <h4 class="title">Subway</h4>
                                    <div class="package">Premium</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$9500<span>/MO</span></div>
                                    <h4 class="title">Burger</h4>
                                    <div class="package">Corporate</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                        </div> <!-- /.inner-table -->
                    </div> <!-- /.table-wrapper -->
                </div> <!-- /#month -->

                <!-- ^^^^^^^^^^^^^^^^^^^^^ Yearly ^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
                <div id="annual" class="tab-pane fade">
                    <div class="table-wrapper">
                        <div class="inner-table clearfix">
                            <ul class="pr-list-text">
                                <li>Full Access Library</li>
                                <li>Multiple User</li>
                                <li>Refund</li>
                                <li>24/7 Support</li>
                            </ul> <!-- /.pr-list-text -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$6300<span>/YR</span></div>
                                    <h4 class="title">Sandwich</h4>
                                    <div class="package">Reguler</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$8000<span>/YR</span></div>
                                    <h4 class="title">Subway</h4>
                                    <div class="package">Premium</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-cancel none"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                            <div class="pr-column">
                                <div class="pr-header">
                                    <div class="price">$9900<span>/YR</span></div>
                                    <h4 class="title">Burger</h4>
                                    <div class="package">Corporate</div>
                                </div> <!-- /.pr-header -->
                                <ul class="pr-body">
                                    <li>
                                        <div class="pr-text">Full Access Library</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Multiple User</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">Refund</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                    <li>
                                        <div class="pr-text">24/7 Support</div>
                                        <i class="icon flaticon-tick available"></i>
                                    </li>
                                </ul>
                                <div class="pr-footer">
                                    <a href="#" class="choose-button line-button-two">Choose Plan</a>
                                    <p>Get your 30 day free trial</p>
                                </div>
                            </div> <!-- /.pr-column -->
                        </div> <!-- /.inner-table -->
                    </div> <!-- /.table-wrapper -->
                </div> <!-- /#annual -->
            </div>

        </div> <!-- /.agn-our-pricing -->


        <!--
        =====================================================
            Testimonial
        =====================================================
        -->
        <div class="agn-testimonial">
            <div class="shape-box">
                <img src="{% static 'images/shape/4.png' %}" alt="">
                <img src="{% static 'images/home/2.jpg' %}" alt="" class="people">
                <img src="{% static 'images/home/3.jpg' %}" alt="" class="people">
                <img src="{% static 'images/home/4.jpg' %}" alt="" class="people">
                <img src="{% static 'images/home/5.jpg' %}" alt="" class="people">
                <img src="{% static 'images/home/6.jpg' %}" alt="" class="people">
                <img src="{% static 'images/home/7.jpg' %}" alt="" class="people">
                <img src="{% static 'images/shape/shape-6.svg' %}" alt="" class="shape-one">
            </div>
            <img src="{% static 'images/shape/shape-66.svg' %}" alt="" class="shape-two" data-aos="fade-right">
            <div class="container clearfix">
                <div class="main-content">
                    <div class="theme-title-one">
                        <div class="upper-title">Testimonials</div>
                        <h2 class="main-title">Check what’s our client say about us!</h2>
                    </div> <!-- /.theme-title-one -->

                    <div class="agn-testimonial-slider">
                        <div class="item">
                            <p>Having a home based business is a wonderful asset to your life. The problem still stands,
                                when it comes timeadvertise your business for a cheap cost. I know you have looked for
                                to
                                answer everywhere; I am here to share a few simple creative ways,</p>
                            <div class="author-info clearfix">
                                <img src="{% static 'images/home/2.jpg' %}" alt="" class="author-img">
                                <div class="name-info">
                                    <h6 class="name">Rashed kabir</h6>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <p>Having a home based business is a wonderful asset to your life. The problem still stands,
                                when it comes timeadvertise your business for a cheap cost. I know you have looked for
                                to
                                answer everywhere; I am here to share a few simple creative ways,</p>
                            <div class="author-info clearfix">
                                <img src="{% static 'images/home/3.jpg' %}" alt="" class="author-img">
                                <div class="name-info">
                                    <h6 class="name">Zubayer hasan</h6>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.agn-testimonial-slider -->
                </div> <!-- /.main-content -->
            </div> <!-- /.container -->
        </div> <!-- /.agn-testimonial -->


        <!--
        =====================================================
            Our Blog
        =====================================================
        -->
        <div class="agn-home-blog our-blog-one">
            <img src="{% static 'images/shape/shape-58.svg' %}" alt="" class="shape-one">
            <img src="{% static 'images/shape/shape-57.svg' %}" alt="" class="shape-two">
            <img src="{% static 'images/shape/shape-9.svg' %}" alt="" class="shape-three">
            <img src="{% static 'images/shape/shape-55.svg' %}" alt="" class="shape-four">
            <div class="container">
                <div class="theme-title-one text-center">
                    <div class="upper-title">Our Blog</div>
                    <h2 class="main-title">Our Company News</h2>
                </div> <!-- /.theme-title-one -->

                <div class="blog-one-slider">
                    <div class="item">
                        <div class="single-blog-post">
                            <div class="flip-box-front">
                                <div class="clearfix">
                                    <img src="{% static 'images/home/2.jpg' %}" alt="" class="author-img">
                                    <div class="author-info">
                                        <h6 class="name">Rashed Kabir.</h6>
                                        <div class="date">06 Aug 2018</div>
                                    </div>
                                </div>
                                <a href="#" class="title">Internet advertising what Went wrong.</a>
                                <p>Having a home based business is a wonderful asset to your life. The main problem time
                                    advertise..</p>
                            </div> <!-- /.flip-box-front -->
                            <div class="flip-box-back">
                                <div class="author-info">
                                    <h6 class="name">Rashed Kabir.</h6>
                                    <div class="date">06 Aug 2018</div>
                                </div>
                                <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                                <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                            </div> <!-- /.flip-box-back -->
                        </div> <!-- /.single-blog-post -->
                    </div>

                    <div class="item">
                        <div class="single-blog-post">
                            <div class="flip-box-front">
                                <div class="clearfix">
                                    <img src="{% static 'images/home/5.jpg' %}" alt="" class="author-img">
                                    <div class="author-info">
                                        <h6 class="name">Jannatul Ferdus.</h6>
                                        <div class="date">07 Aug 2018</div>
                                    </div>
                                </div>
                                <a href="#" class="title">Internet advertising what Went wrong.</a>
                                <p>Having a home based business is a wonderful asset to your life. The main problem time
                                    advertise..</p>
                            </div> <!-- /.flip-box-front -->
                            <div class="flip-box-back">
                                <div class="author-info">
                                    <h6 class="name">Jannatul Ferdus.</h6>
                                    <div class="date">07 Aug 2018</div>
                                </div>
                                <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                                <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                            </div> <!-- /.flip-box-back -->
                        </div> <!-- /.single-blog-post -->
                    </div>

                    <div class="item">
                        <div class="single-blog-post">
                            <div class="flip-box-front">
                                <div class="clearfix">
                                    <img src="{% static 'images/home/6.jpg' %}" alt="" class="author-img">
                                    <div class="author-info">
                                        <h6 class="name">Zubayer hasan.</h6>
                                        <div class="date">05 Aug 2018</div>
                                    </div>
                                </div>
                                <a href="#" class="title">Internet advertising what Went wrong.</a>
                                <p>Having a home based business is a wonderful asset to your life. The main problem time
                                    advertise..</p>
                            </div> <!-- /.flip-box-front -->
                            <div class="flip-box-back">
                                <div class="author-info">
                                    <h6 class="name">Zubayer hasan.</h6>
                                    <div class="date">05 Aug 2018</div>
                                </div>
                                <a href="blog-details.html" class="title">Internet advertising what Went wrong.</a>
                                <a href="blog-details.html" class="more"><i class='flaticon-back'></i></a>
                            </div> <!-- /.flip-box-back -->
                        </div> <!-- /.single-blog-post -->
                    </div>
                </div>
            </div>
        </div> <!-- /.our-blog-one -->


        <!--
        =============================================
            Contact Banner
        ==============================================
        -->
        <div class="agn-contact-banner">
            <div class="container">
                <h2 class="title">Do you have any projects? <br>Contact us.</h2>
                <a href="contact-us-agency.html" class="contact-button line-button-one">Contact Us</a>
            </div> <!-- /.contianer -->
        </div> <!-- /.agn-contact-banner -->
    </div>
{% endblock %}
