 {% load static %}
    <!-- Optional JavaScript _____________________________  -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- menu  -->
    <script src="{% static 'vendor/mega-menu/assets/js/custom.js' %}"></script>
    <!-- AOS js -->
    <script src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>
    <!-- WOW js -->
    <script src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script>
    <!-- owl.carousel -->
    <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- js count to -->
    <script src="{% static 'vendor/jquery.appear.js' %}"></script>
    <script src="{% static 'vendor/jquery.countTo.js' %}"></script>
    <!-- Fancybox -->
    <script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <!-- Theme js -->
    <script src="{% static 'js/lang.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
