{% load static %}

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">
<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

<!-- Fix Internet Explorer ______________________________________-->
<!--[if lt IE 9]>
			<script src="{% static 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %}"></script>
			<script src="{% static 'vendor/html5shiv.js' %}"></script>
			<script src="{% static 'vendor/respond.js' %}"></script>
		<![endif]-->
